.section-4-grid{
    height: 90rem;
    background-color: #f5f3ee;
    position: absolute;
}
/* .s4g-heading{
    align-items: center !important;
    text-align: center !important;
    position: relative;
    margin-top: 10rem !important;
    
} */
.s4-g{
    padding: 10px !important;
    /* margin-top: 20rem !important; */
}
.s4-grid{
    padding: 1rem !important;
}
.grid-imgs{
    overflow: hidden !important;
}
.grid-img{
    width: 100% !important;
    transition: transform .9s !important;
}
.grid-img:hover{
    /* opacity: 0.5; */
    filter: brightness(50%);
    transform: scale(1.1) !important;
}
.grid-imgs:hover .grid-btn{
    opacity: 1;
}
/* .grid-btn{
    opacity: 0;
    margin-left: 40% !important;
    z-index: 1;
} */


.section-4-grid-heading-1{
    text-align: center;
    margin-top: 10rem;
    
}
.section-4-grid-heading{
    font-weight: 700 !important; 
}
.section-4-grid-para{
    font-weight: 500;
}
.grid-btns{
    left: 30%;
    top: 45%;
    
}
.grid-btn{
    /* background-color: white;
    min-width: 130px;
    height: 46px;
    border: none;
    font-weight: 600; */
    opacity: 0;
    background-color: white;
    min-width: 130px;
    height: 46px;
    border: none;
    font-weight: 600;
    transition: opacity 2s;
}

