*{
    font-family: Spartan, sans-serif;
}
@font-face {
    font-family: "Spartan";   /*Can be any text*/
    src: local("ALeagueSpartan-VariableFont_wght"),
      url("./Fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
  }
NewFooter{
    margin-top: 90rem;
}


  